# General
.DS_Store
.vscode/
*.swp
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# NodeJS
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml

# Firmware/Binaries
*.bin
*.elf
*.img
*.rom
*.hex
*.uf2
